In [50]:
import pandas as pd

df = pd.read_csv("../data/raw/train.csv")

# df.head() #intial rows display
# df.shape #dimensions
# df.columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [51]:

df['Order Date'] = pd.to_datetime(df['Order Date'], dayfirst=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], dayfirst=True)

df.dtypes

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code             float64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
dtype: object

In [52]:
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [53]:
df = df.dropna(subset=['Postal Code'])

Postal Code column contained 11 missing values, and since they are not important for Time Serires Analysis, those value rows are removed.

In [54]:
df.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

Data integrity Maintained.

In [56]:
df.duplicated().sum()
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9789 non-null   int64
 1   Order ID       9789 non-null   object
 2   Order Date     9789 non-null   datetime64[ns]
 3   Ship Date      9789 non-null   datetime64[ns]
 4   Ship Mode      9789 non-null   object
 5   Customer ID    9789 non-null   object
 6   Customer Name  9789 non-null   object
 7   Segment        9789 non-null   object
 8   Country        9789 non-null   object
 9   City           9789 non-null   object
 10  State          9789 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9789 non-null   object
 13  Product ID     9789 non-null   object
 14  Category       9789 non-null   object
 15  Sub-Category   9789 non-null   object
 16  Product Name   9789 non-null   object
 17  Sales          9789 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(13)
memory usage: 1.4+ MB

No duplicates found.

In [58]:
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month
df['Order YearMonth'] = df['Order Date'].dt.to_period('M')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Row ID           9789 non-null   int64
 1   Order ID         9789 non-null   object
 2   Order Date       9789 non-null   datetime64[ns]
 3   Ship Date        9789 non-null   datetime64[ns]
 4   Ship Mode        9789 non-null   object
 5   Customer ID      9789 non-null   object
 6   Customer Name    9789 non-null   object
 7   Segment          9789 non-null   object
 8   Country          9789 non-null   object
 9   City             9789 non-null   object
 10  State            9789 non-null   object
 11  Postal Code      9789 non-null   float64
 12  Region           9789 non-null   object
 13  Product ID       9789 non-null   object
 14  Category         9789 non-null   object
 15  Sub-Category     9789 non-null   object
 16  Product Name     9789 non-null   object
 17  Sales            9789 non-null   float64
 18  Order Year       9789 non-null   int32
 19  Order Month      9789 non-null   int32
 20  Order YearMonth  9789 non-null   period[M]
dtypes: datetime64[ns](2), float64(2), int32(2), int64(1), object(13), period[M](1)
memory usage: 1.6+ MB

In [59]:
df['Postal Code'] = df['Postal Code'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9789 entries, 0 to 9799
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Row ID           9789 non-null   int64
 1   Order ID         9789 non-null   object
 2   Order Date       9789 non-null   datetime64[ns]
 3   Ship Date        9789 non-null   datetime64[ns]
 4   Ship Mode        9789 non-null   object
 5   Customer ID      9789 non-null   object
 6   Customer Name    9789 non-null   object
 7   Segment          9789 non-null   object
 8   Country          9789 non-null   object
 9   City             9789 non-null   object
 10  State            9789 non-null   object
 11  Postal Code      9789 non-null   object
 12  Region           9789 non-null   object
 13  Product ID       9789 non-null   object
 14  Category         9789 non-null   object
 15  Sub-Category     9789 non-null   object
 16  Product Name     9789 non-null   object
 17  Sales            9789 non-null   float64
 18  Order Year       9789 non-null   int32
 19  Order Month      9789 non-null   int32
 20  Order YearMonth  9789 non-null   period[M]
dtypes: datetime64[ns](2), float64(1), int32(2), int64(1), object(14), period[M](1)
memory usage: 1.6+ MB

Sanity Checking:---

In [60]:
df.shape

(9789, 21)

In [61]:
df['Order Date'].min(), df['Order Date'].max()

(Timestamp('2015-01-03 00:00:00'), Timestamp('2018-12-30 00:00:00'))

In [62]:
df['Sales'].describe()

count     9789.000000
mean       230.116193
std        625.302079
min          0.444000
25%         17.248000
50%         54.384000
75%        210.392000
max      22638.480000
Name: Sales, dtype: float64

In [ ]:
df[['Order Date', 'Order Year', 'Order Month', 'Order YearMonth']].head(10)

  Order Date  Order Year  Order Month Order YearMonth
0 2017-11-08        2017           11         2017-11
1 2017-11-08        2017           11         2017-11
2 2017-06-12        2017            6         2017-06
3 2016-10-11        2016           10         2016-10
4 2016-10-11        2016           10         2016-10
5 2015-06-09        2015            6         2015-06
6 2015-06-09        2015            6         2015-06
7 2015-06-09        2015            6         2015-06
8 2015-06-09        2015            6         2015-06
9 2015-06-09        2015            6         2015-06

In [64]:
df['Category'].unique()
df['Region'].unique()
df['Segment'].unique()

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [65]:
df.groupby('Order YearMonth')['Sales'].sum().head()

Order YearMonth
2015-01    14205.707
2015-02     4519.892
2015-03    55205.797
2015-04    27906.855
2015-05    23644.303
Freq: M, Name: Sales, dtype: float64

In [66]:
df.to_csv("../data/processed/cleaned_superstore_sales.csv", index=False)